@font-face {
  font-family: 'ProximaNova';
  src: url('https://static.ifunny.co/fonts/2F537A_7_0.eot');
  src: url('https://static.ifunny.co/fonts/2F537A_7_0.eot?#iefix') format('embedded-opentype'),
       url('https://static.ifunny.co/fonts/2F537A_7_0.woff2') format('woff2'),
       url('https://static.ifunny.co/fonts/2F537A_7_0.woff') format('woff'),
       url('https://static.ifunny.co/fonts/2F537A_7_0.ttf') format('truetype');
}
